$middle-brown: #a47d5e;
$light-brown: #c9b176;
$text: #56534c;
$light-text: #979285;
$alegria: alegreyaregular, Georgia, TimesNewRoman, serif;
$alegria-bold: alegreyabold, $alegria;
$proxima: proxima_nova_rgregular, Arial, Verdana, sans-serif;
$scriptina: scriptinaregular, sans-serif;
$light-black: rgba(0, 0, 0, 0.16);
$border: #9e9c93;
$quotes: #c5bea8;
$food_menu: #c2beba;
$sheet: #f3f1e9;